#pricing {
  --fs-price: 2rem;

  & header {
    text-align: center;
  }

  & .cards {  
    margin-top: 2rem;
  }

  & h3 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  & .card p {
    margin-bottom: 0.25rem;
  }

  & zin-princing {
    display: block;
    padding-block: 1.5rem;
    font: var(--fw-bold) var(--fs-price)/1.2 var(--ff-sans);
  }

  & zin-princing small {
    font: var(--fw-bold) 1rem/125% var(--ff-sans);
    color: var(--text-color-secondary);
  }

  & .btn {
    width: 100%;
  }

  & .separator {
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient(var(--text-color-secondary), var(--surface-color) 70%);
  }

  & li {
    color: var(--text-color-secondary);
    background: url(../../assets/icons/check.svg) no-repeat left center;
    padding-left: 2rem;
  }

  & ul + small {
    display: block;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
  }

  & .premium-card {
    position: relative;
    padding: 2px;
  
    & .card {
      padding-top: 4rem;
      & span {
        
        position: absolute;
        top: 0rem;
        left: 0rem;
        background: linear-gradient(to right, var(--brand-color-secondary), var(--brand-color-primary));
        padding: 0.75rem 2rem 0.75rem;
        border-radius: 1rem 0 1rem 0;
        text-transform: uppercase;
        font: var(--fw-bold) 0.875rem/1.25rem var(--ff-sans);
        color: black;
      }
    }

    &::before {
      content: "";
      background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
      position: absolute;
      inset: 0;
      border-radius: 1.5rem;
      z-index: -1;
    }
  }




  @media (width >= 80em) {
    --fs-price: 2.5rem;

    & header {
      max-width: 50rem;
      margin-inline: auto;
    }

    & .premium-card .card {
      padding-bottom: 6rem;
    }

    & .card:nth-child(3) .separator {
      margin-block: 1.5rem;
    }

    & .card:nth-child(1) .separator {
      margin-block: 1.5rem;
    }

    & .card-1:nth-child(1) {
      height: 32rem;
    }

    & .card:nth-child(3) {
      height: 32rem;
    }

    
    .btn-md {
      padding: .75rem 1.5rem;
      font-size: var(--fs-base);
    }

  }
}